<div>
    <h1>Products</h1>
    {{#each productsData}}
        <div>
            <h3>{{title}}</h3>
            <img src={{image }} width="250" height="250"/>
            <p>{{ description }}</p>
            <strong>{{ price }} </strong>
        </div>
    {{/each}}
</div>


